<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${project.projectName}"></h1>
<p th:text="${project.client.name}"></p>
<p th:if="${project.isActive == false}">Project state: Active</p>
<p th:if="${project.isActive == true}">Project state: Not active</p>

<section th:each="phase : ${project.phases}">
    <p th:text="${'Phase: ' + phase.name}"></p>
    <ul th:each="task: ${phase.tasks}">
        <li th:text="${'Task: ' + task.name}"></li>
        <li th:text="${'Description: ' + task.description}"></li>
        <li th:text="${'Approximate man-hours: ' + task.durationInManHours}"></li>
    </ul>
</section>

<div>
    <form name="add-phase" action="add-phase" method="POST" id="add-phase">
        <h3>Add phase</h3>
        Phase name: <br>
        <input type="text" name="name">
        <br><br>
        Description: <br>
        <textarea type="text" name="description" rows="4" cols="50"></textarea><br>
        <br><br><br><br>
        <input type="submit" value="add phase" form="add-phase">
    </form>
</div>


<section>
    <h3>Add task</h3>

    <form action="add-task" method="POST" id="add-task">
        Task name: <br>
        <input type="text" name="name">
        <br><br>
        <label for="phase">Select belonging phase:</label><br>
        <select name="phase" id="phase" th:object="${project.phases}">
            <option th:each="phase: ${project.phases}" th:value="${phase.id}" th:text="${phase.name}">
            </option>
        </select>


        <br><br>
        Description: <br>
        <textarea type="text" name="description" rows="4" cols="50"></textarea>
        <br><br>
        Duration in man hours: <br>
        <input type="number" name="duration">
        <br><br>
        <input type="submit" value="Add task" form="add-task">
    </form>

</section>

</body>
</html>