<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <form name="add-phase" action="add-phase" method="POST" id="add-phase">
        <h3>Add phase</h3>
        Phase name: <br>
        <input type="text" name="name">
        <br><br>
        Description: <br>
        <textarea type="text" name="description" rows="4" cols="50"></textarea><br>
        <br><br><br><br>
        <input type="submit" value="add phase" form="add-phase">
    </form>
</div>


<section>
    <h3>Add task</h3>

    <form action="add-task" method="POST" id="add-task">
        Task name: <br>
        <input type="text" name="name">
        <br><br>
        <label for="phase">Select belonging phase:</label><br>
        <select name="phase" id="phase">
            <option value="phase-1">Inception</option>
            <option value="phase-2">Construction</option>
        </select>
        <br><br>
        Description: <br>
        <textarea type="text" name="description" rows="4" cols="50"></textarea>
        <br><br>
        Duration in man hours: <br>
        <input type="number" name="duration">
        <br><br>
        <input type="submit" value="Add task" form="add-task">
    </form>


</section>

<!--
<select id="client-name" th:field="${clients}">
    <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}">
    </option>
</select>
-->

</body>
</html>