<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section th:each="task : ${project.tasks}">
    <p th:text="${'Phase: ' + task.name}"></p>
    <ul th:each="subTask: ${task.subTasks}">
        <li th:text="${'Task: ' + subTask.name}"></li>
        <li th:text="${'Description: ' + subTask.description}"></li>
        <li th:text="${'Approximate man-hours: ' + subTask.durationInManHours}"></li>
    </ul>
</section>

<div>
    <form name="add-task" action="add-task" method="POST" id="add-task">
        <h3>Add task</h3>
        Phase name: <br>
        <input type="text" name="name">
        <br><br>
        Description: <br>
        <textarea type="text" name="description" rows="4" cols="50"></textarea><br>
        <br><br><br><br>
        <input type="submit" value="add task" form="add-task">
    </form>
</div>


<section>
    <h3>Add subTask</h3>

    <form action="add-subTask" method="POST" id="add-subTask">
        Task name: <br>
        <input type="text" name="name">
        <br><br>
        <label for="task">Select belonging task:</label><br>
        <select name="task" id="task" th:object="${project.tasks}">
            <option th:each="task: ${project.tasks}" th:value="${task.id}" th:text="${task.name}">
            </option>
        </select>


        <br><br>
        Description: <br>
        <textarea type="text" name="description" rows="4" cols="50"></textarea>
        <br><br>
        Duration in man hours: <br>
        <input type="number" name="duration">
        <br><br>
        <input type="submit" value="Add subTask" form="add-subTask">
    </form>

</section>

<!--
<select id="client-name" th:field="${clients}">
    <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}">
    </option>
</select>
-->

</body>
</html>