<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/head.html :: head"></head>
    <body>

        <form name="create-project" action="map-project" method="POST">
            Project name:<br>
            <input type="text" name="project-name">
            <br><br>
            Description:<br>
            <textarea type="text" name="description" rows="4" cols="50"></textarea><br>
            <!--<label for="select-client">Client</label>
            name="client" id="select-client"-->
            <br>
            <br>
            <select name="client" id="client" th:object="${clients}">
                <option>Select client</option>
                <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}">
                </option>
            </select>
            <br><br>
            <input type="submit" value="Create project">
        </form>

    </body>
</html>
