<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/head.html :: head"></head>
    <body>
    <nav th:replace="fragments/navbar.html :: navbar"></nav>
        <a href="fill-project-form">
            <h2 th:text="${project.name}"></h2>
            <p th:text="${'Client: ' + project.client.name}"></p>
            <p th:text="${'Project description: ' + project.description}"></p>
            <p th:if="${project.isActive == false}">Project state: Active</p>
            <p th:if="${project.isActive == true}">Project state: Not active</p>
        </a>
        <br>

        <div th:each="task : ${project.tasks}">
           <a th:href="${'/fill-task-form?id=' + task.id}" th:text="${'Task: ' + task.name}"></a>
            <ul th:each="subtask : ${task.subTasks}">
                <a th:href="${'/fill-subtask-form?id=' + subtask.id}">
                    <li th:text="${'Subtask: ' + subtask.name}"></li>
                    <li th:text="${'Description: ' + subtask.description}"></li>
                    <li th:text="${'Approximate man-hours: ' + subtask.durationInManHours}"></li>
                </a>
            </ul>
        </div>
        <br><br>
        <button><a href="/create-elements">Add a new task or subtask</a></button>
        <div th:if="${projectBoo}">
            <form name="edit-project-info-form" action="update-project" method="POST">
                Project name:<br>
                <textarea type="text" name="project-name" th:text="${project.name}"></textarea>
                <br><br>
                Description:<br>
                <textarea type="text" name="description" rows="4" cols="50" th:text="${project.description}"></textarea>
                <br><br>
                <input type="submit" value="Update project info">
<!--                <button><a th:href="${'/delete?type=project' + project.id}" >Delete this task</a></button>-->

            </form>
        </div>
        <div th:if="${task}">
            <form name="edit-task-form" th:action="${'/update-task?id=' + task.id}" method="POST">
                <h3 th:text="${'Edit task' + task.name}">Edit task</h3>
                Task name: <br>
                <textarea type="text" name="name" th:text="${task.name}"></textarea>
                <br><br>
                Description: <br>
                <textarea type="text" name="description" rows="4" cols="50" th:text="${task.description}"></textarea><br>
                <br><br><br><br>
                <input type="submit" value="Update task">
                <button><a th:href="${'/delete?type=task&id=' + task.id}" >Delete this task</a></button>
            </form>
        </div>
        <div th:if="${subtask}">
            <form name="edit-task-form" th:action="${'/update-subtask?id=' + subtask.id}" method="POST">
                <h3 th:text="${'Edit subtask' + subtask.name}">Edit task</h3>
                Subtask name: <br>
                <textarea type="text" name="name" th:text="${subtask.name}"></textarea>
                <br><br>
                Description: <br>
                <textarea type="text" name="description" rows="4" cols="50" th:text="${subtask.description}"></textarea><br>
                <br><br><br><br>
                Man-hours: <br>
                <textarea type="text" name="duration" th:text="${subtask.durationInManHours}"></textarea>
                <br><br>
                <input type="submit" value="Update subtask">
                <button><a th:href="${'/delete?type=subtask&id=' + subtask.id}" >Delete this subtask</a></button>
            </form>
        </div>
    </body>
</html>
