<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/head.html :: head"></head>
    <body>
        <table>
            <tr>
                <th>Project name</th>
                <th>Author</th>
                <th>Client</th>
                <th>Description</th>
                <th>Is active?</th>
            </tr>
            <tr>
                <td th:text="${project.getName()}"></td>
                <td th:text="${project.getAuthor().getFullname()}"></td>
                <td th:text="${project.getClient().getName()}"></td>
                <td th:text="${project.getDescription()}"></td>
                <td th:text="${project.getIsActive() ? 'Yes' : 'No'}"></td>
            </tr>
        </table>
        <section th:each="task : ${project.getTasks()}">
            <p th:text="${'Task: ' + task.getName()}"></p>
            <ul th:each="subtask : ${task.subTasks}">
                <li th:text="${'Subtask: ' + subtask.getName()}"></li>
                <li th:text="${'Description: ' + subtask.getDescription()}"></li>
                <li th:text="${'Approximate man-hours: ' + subtask.getDurationInManHours()}"></li>
            </ul>
        </section>
        <h2>Project estimations</h2>
        <br>
        <p th:text="${'Programmers assigned to this project: ' + programmers}"></p>
        <p th:text="${'Estimated cost in DKK: ' + totalCost}"> Estimated cost for this project in DKK: </p>
        <p th:text="${'Estimated cost in man-hours: ' + totalManHours}"> Estimated cost for this project in man-hours: </p>
        <p th:text="${'Estimated date for completion: ' + completionDate}">Estimated completion date is: </p>
<!--        <p th:text="${'Estimated date for completion: ' + calendars.format(completionDate,'dd-MM-yyyy')}">Estimated completion date is: </p>-->
        <button>
           <!-- <a th:href="${'edit-project?id=' + project.id}">Edit this project</a> -->
            <a href="edit-project">Edit this project</a>
        </button>
    </body>
</html>
