<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:text="${'Hej ' + name}"></h2>


<ul>
    <li th:each="project:${projects}">
        <a th:href="${'/project?id=' + project.id}" th:text="${project.projectName}"></a>
    </li>
</ul>

<br>
<button>
    <a href="/createproject">Start a new project</a>
</button>
<br>
<br>
(EVT. 3.SEE ALL PROJECTS)

</body>
</html>