<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/head.html :: head"></head>
    <body>
        <nav th:replace="fragments/navbar.html :: navbar"></nav>
        <main>
            <h1 th:text="${'Hi, ' + session.name}"></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorem est impedit placeat rem? Accusamus corporis doloribus eius fuga ipsam laborum neque quas quo sed veniam? Autem culpa et ratione?</p>
            <h3 th:if="${projects}">Your current projects</h3>
            <h3 th:unless="${projects}">You don't have any project at the moment</h3>
            <ul class="space-above medium-space-below">
                <li th:each="project:${projects}">
                    <a th:href="${'project?id=' + project.id}" th:text="${project.name}"></a>
                </li>
            </ul>
            <a href="createproject">
                <button>Start a new project</button>
            </a>
            <br>
            <br>
            <br>
    <b><div th:if="${message}" th:text="${message}"></div></b>
        </main>
    </body>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</html>
