<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H2 th:text=" 'hej' + ${session.}"></H2>

DER SKAL STÅ BRUGERENS NAVN PÅ TOPHØJRE SIDEN <br><br>

(pseudo code
for each project in projects
list item project.getName()
-de skal væere et link to /project!


Your current projects:
1.
1.
3

)


2. START NEW PROJECT
(EVT. 3.SEE ALL PROJECTS)

</body>
</html>